# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\gitRepositories\sinews_of_war\main_metamod_src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
